header {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
}

.header__previous-link {
    display: none;
    position: absolute;
    left: 20px;
    height: calc(100% - $header-padding-top - $header-padding-bottom);

    i {
        height: 100%;

        font-size: 20px;
        color: black;
    }

    i:before {
        display: flex;
        height: 100%;
        align-items: center;
    }
}

.header__logo {
    max-width: 170px;
}