.btn {
    margin: 0;
    padding: 0 20px;
    height: 50px;

    color: white;

    cursor: pointer;
    border-radius: 25px;
    border-width: 0;
    background: linear-gradient($secondary, $primary);
    box-shadow: 0px 6px 10px $box-shadow-color;
    transition-duration: .5s;

    &:active {
        background: linear-gradient(lighten($secondary, 3%), lighten($primary, 3%));
        box-shadow: 0px 9px 15px darken($box-shadow-color, 15%);
        transition-duration: 0s;
        transition-timing-function: ease;
    }

    &:focus {
        outline: 0;
        // Disable semi-transparent blue box for mobile webkit-based browsers (Chrome, Edge, Safari)
        -webkit-tap-highlight-color: transparent;
    }
}