.ordered-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    height: 70px;
    
    border-radius: 18px;
    box-shadow: 0px 6px 10px lightgray;
    
    &:last-child {
        margin-bottom: 0;
    }

    & > div {
        display: flex;
        margin-left: -10px;
        margin-right: 10px;
        height: 25px;
        width: 25px;
        justify-content: center;
        align-items: center;


        font-weight: 700;
        color: white;
        
        background-color: $primary;
        border-radius: 50%;
        border: 0;
    }

    & > i {
        width: 40px;

        font-size: 18px;
    }
}