#homepage__location {
    display: flex;
    padding: 0;
    justify-content: center;

    background-color: $homepage-location-background-color;

    & > p {
        position: relative;
        
        // font-family: 'Roboto', sans-serif;

        & > i {
        position: absolute;
        left: -30px;
        }
    }
}

#homepage__presentation {
    display: flex;
    @include homepage-padding;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: $homepage-presentation-background-color;

    & > h2 {
        margin: 0;
        padding: 0 10px 20px 10px;

        font-size: 27px;
    }

    & > p {
        margin: 0;

        font-size: 18px;
        font-weight: 300;
    }

    & > button {
        margin: 30px auto 0 auto;
        padding: 0 20px;
        height: 50px;

        color: white;

        border-radius: 25px;
        border-width: 0;
        background: linear-gradient($secondary, $primary);
        box-shadow: 0px 6px 10px lightgray;
    }
}

#homepage__functioning {
    @include homepage-padding;

    & > h2 {
        margin: 0;
        padding: 0 0 20px 0;

        font-size: 27px;
    }

    & > ol {
        list-style: none;
        margin: 0;
        padding: 0 0 0 10px;

        & > li {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            height: 70px;
            
            border-radius: 20px;
            box-shadow: 0px 6px 10px lightgray;

            &:last-child {
                margin-bottom: 0;
            }

            & > div {
                display: flex;
                margin-left: -10px;
                margin-right: 10px;
                height: 25px;
                width: 25px;
                justify-content: center;
                align-items: center;


                font-weight: 700;
                color: white;
                
                background-color: $primary;
                border-radius: 50%;
                border: 0;
            }

            & > i {
                width: 40px;
            }
        }
    }
}