@keyframes hide {
	to {
		visibility:hidden;
	}
}

@keyframes whole-turn {
	to {
		transform: rotate(1turn);
	}
}

@keyframes whole-turn--translated {
	to {
		transform: translate(-50%, -50%) rotate(1turn);
	}
}

@keyframes fading-up {
    from {
		@if #{$desktop-up} {
        	transform: translate(20px, 0);
		}
		@else {
			transform: translate(0, 20px);
		}
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}